---
const { key, title, photo, desc, url, repo, design, inProgress } = Astro.props;

const urlIcon = `<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5"></path><path d="M10 14l10 -10"></path><path d="M15 4l5 0l0 5"></path></svg>`;
const githubIcon = `<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path></svg>`;
const designIcon = `<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-figma" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path><path d="M6 3m0 3a3 3 0 0 1 3 -3h6a3 3 0 0 1 3 3v0a3 3 0 0 1 -3 3h-6a3 3 0 0 1 -3 -3z"></path><path d="M9 9a3 3 0 0 0 0 6h3m-3 0a3 3 0 1 0 3 3v-15"></path></svg>`;
---

<div id={key} class="overflow-auto border border-default bg-offset">
  <img
    src={photo ? photo : "./images/placeholder.jpg"}
    alt={title}
    title={title}
    width="380px"
    height="auto"
  />
  <div class="card-body p-6">
    <h2 class="card-header">{title ? title : "Card Title"}</h2>
    <p class="text-content2 mb-6 text-xs">{desc ? desc : "Card Description"}</p>
    <div class="flex gap-2">
      {
        url ? (
          <a
            href={url ? url : "#"}
            target="_blank"
            style={{ maxWidth: "fit-content" }}
            aria-label="URL"
          >
            {urlIcon ? <Fragment set:html={urlIcon} /> : ""}
          </a>
        ) : (
          ""
        )
      }
      {
        repo ? (
          <a
            href={repo ? repo : "#"}
            target="_blank"
            style={{ maxWidth: "fit-content" }}
            aria-label="Github"
          >
            {githubIcon ? <Fragment set:html={githubIcon} /> : ""}
          </a>
        ) : (
          ""
        )
      }
      {
        design ? (
          <a
            href={design ? design : "#"}
            target="_blank"
            style={{ maxWidth: "fit-content" }}
            aria-label="Figma"
          >
            {designIcon ? <Fragment set:html={designIcon} /> : ""}
          </a>
        ) : (
          ""
        )
      }
      {
        inProgress ? (
          <span class="font-bold text-blue-700 text-xs">En proceso...</span>
        ) : (
          ""
        )
      }
    </div>
  </div>
</div>
