---
import ContentSection from "~/components/content-section.astro";
import Card from "~/components/card.astro";
import Proyectos from "~/data/proyectos.json"; 

---

<ContentSection title="Proyectos" id="proyectos">
  <Fragment slot="lead">
    <span
      >Me complace compartir algunos de los proyectos que llevé a cabo, los
      cuales incluyen tanto proyectos personales como aquellos realizados para
      clientes finales.</span
    >
    <br />
    <span
      >Cada uno de ellos ha sido una oportunidad para demostrar mis
      conocimientos, así como para fortalecer la relación con el cliente y mis
      compañeros.</span
    >
  </Fragment>
  <div class="flex flex-col items-center gap-2">
    <div class="grid max-w-6xl grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      {
        Proyectos.map((proyecto) => (
          <Card
            key={proyecto.id}
            title={proyecto.title}
            desc={proyecto.desc}
            photo={proyecto.photo}
            url={proyecto.url}
            repo={proyecto.repo}
            design={proyecto.design}
            inProgress={proyecto.inProgress}
          />
        ))
      }
    </div>
  </div>
</ContentSection>

